source https://www.nuget.org/api/v2/

nuget FSharp.Core
nuget Snappy.NET

group Build
  source https://www.nuget.org/api/v2/
  
  nuget FAKE
  nuget FSharpLint
  nuget NUnit.Runners

group Test
  source https://www.nuget.org/api/v2/

  nuget NUnit 3.0.1
  nuget FsCheck